.centered-form
  %h1.form-title Enter email address

  = form_tag password_resets_url, method: :post do
    = hidden_field_tag :redirect_to, params[:redirect_to]
    .form-group
      = text_field_tag :email, params[:email], class: "form-control input-lg", placeholder: "Email address"
    .actions
      = submit_tag "Reset password", class: "btn btn-main btn-xlg"
