%h1= @league.name
%p Commissioner: #{@league.commissioner.name}
%ul
  Members
  - @league.members.each do |member|
    %li= member.name
- unless @league.members.include? current_user
  = link_to "Join", league_memberships_path(@league), method: "post"
