---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=3344&email=7460716636%40example.com&card=tok_102cKV2tINt34UTeZFpU90CP
    headers:
      authorization:
      - Bearer sk_test_Zt9yfN4fZCWlMyUFVtFsWcGx
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1379829395,
          "id": "cus_2cKWE1oonVTxby",
          "livemode": false,
          "description": "3344",
          "email": "7460716636@example.com",
          "delinquent": false,
          "subscription": null,
          "discount": null,
          "account_balance": 0,
          "cards": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_2cKWE1oonVTxby/cards",
            "data": [
              {
                "id": "card_102cKV2tINt34UTeuhObgRiN",
                "object": "card",
                "last4": "0010",
                "type": "Visa",
                "exp_month": 12,
                "exp_year": 2016,
                "fingerprint": "bzjnyeYGHSsEU6Tz",
                "customer": "cus_2cKWE1oonVTxby",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_102cKV2tINt34UTeuhObgRiN"
        }
  recorded_at: Sun, 22 Sep 2013 05:56:35 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: customer=cus_2cKWE1oonVTxby&amount=250&description=Fantasy%20Rocket%20Monthly%20Subscription&currency=usd
    headers:
      authorization:
      - Bearer sk_test_Zt9yfN4fZCWlMyUFVtFsWcGx
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_102cKW2tINt34UTeIG8m6RF2",
          "object": "charge",
          "created": 1379829396,
          "livemode": false,
          "paid": true,
          "amount": 250,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_102cKV2tINt34UTeuhObgRiN",
            "object": "card",
            "last4": "0010",
            "type": "Visa",
            "exp_month": 12,
            "exp_year": 2016,
            "fingerprint": "bzjnyeYGHSsEU6Tz",
            "customer": "cus_2cKWE1oonVTxby",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_102cKW2tINt34UTetVY9vLN9",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_2cKWE1oonVTxby",
          "invoice": null,
          "description": "Fantasy Rocket Monthly Subscription",
          "dispute": null
        }
  recorded_at: Sun, 22 Sep 2013 05:56:36 GMT
recorded_with: VCR 2.5.0
