.notification.social
  %h2 Play #{sport_t 'league'} Wins Pool with your friends!
  .create-league= link_to "Start a league<span class='hidden-for-mobile'>. #{sport_t "splash.sub_cta"}</span>".html_safe, new_users_url, class: "btn btn-main btn-xlg"
