.modal.fade
  .modal-dialog
    .modal-content
      .modal-header.clearfix
        %button.close{:type =>   'button', :'data-dismiss' => 'modal', :'aria-hidden' => 'true'} Close &times;
      .modal-body
        %p= decorator.what_happened
        %h3= decorator.call_to_action
        .actions
          = link_to "Share on Facebook", share_on_facebook_url(url: decorator.url), class: "btn btn-lg btn-share btn-facebook", target: '_blank'
          = link_to "Share on Twitter", share_on_twitter_url(url: decorator.url, text: decorator.default_tweet), class: "btn btn-lg btn-share btn-twitter", target: "_blank"
:coffee
  $ ->
    $('.modal').modal()
