.splash
  .intro
    %h1 Home of the NFL Wins Pool
    %h2 NFL Wins Pool is one of the simplest and most addictive fantasy pools you can play with your football-loving friends.
    .create-league= link_to "Start a league<span class='hidden-for-mobile'>. It's free!</span>".html_safe, new_user_path, class: "btn btn-main btn-xlg"
  .quote
    .container
      .clearfix
        .quote-text "I love this pool. My friends love this pool. And now, you can love this pool."
        .quote-author - Bill Simmons, ESPN, Grantland
      = link_to "Read more", "http://www.grantland.com/blog/the-triangle/post/_/id/36155/you-should-have-an-nfl-wins-pool", class: "read-more"
  .how-it-works
    .container
      .row
        .col-md-12
          %h3 How It Works
      .row
        .col-md-4
          %h4 1. Create a league
          %p Create a league, invite your friends (we allow between 2 and 15 players), and agree on an entry fee and prize money.
        .col-md-4
          %h4 2. Draft your teams
          %p We randomly assign each league member a number that determines draft order. Each member picks the NFL teams they think will win the most games until there are no teams left. We use our special algorithm to determine when each member drafts in order to even the probability fairly.
        .col-md-4
          %h4 3. Win
          %p The member whose teams win the most regular season games wins the pool. And that's it! No agonizing over benching players every game day. Just sit back and watch who wins.
    .create-league= link_to "Start a league<span class='hidden-for-mobile'>. It's free!</span>".html_safe, new_user_path, class: "btn btn-main btn-xlg"

:coffee
  mixpanel.track("Splash Show")
  mixpanel.track_links(".splash .create-league a", "Splash CreateLeague Click")
