.splash
  .intro
    %h1 Home of the infamous NFL Win Pool
    %h2 NFL Win Pool is the simplest and most addictive NFL win pool you can play with your football-loving friends.
    = link_to "Create a league", new_user_path, class: "btn btn-main btn-xlg"
