.splash
  .intro
    %h1 Home of the infamous NFL Win Pool
    %h2 NFL Win Pool is the simplest and most addictive NFL win pool you can play with your football-loving friends.
    = link_to "Create a league", new_user_path, class: "btn btn-main btn-xlg"
  .quote
    .container
      .clearfix
        .quote-text "I love this pool. My friends love this pool. And now, you can love this pool."
        .quote-author - Bill Simmons, ESPN, Grantland
      = link_to "Read more", "http://www.grantland.com/blog/the-triangle/post/_/id/36155/you-should-have-an-nfl-wins-pool", class: "read-more"
