The Fantasy Rocket NFL Wins Pool is back.


If you'd like to play again this year, you can join the new pool we've created for you here:
= league_url(@new_league, source: 'new_season', medium: 'email')


You can also create a new pool by visiting fantasyrocket.com


The season starts on Thursday, September 4, so don't delay!
