body {
  background-color: black;
  color: white;
  @include font-primary;
  padding-top: $header-height;
}

// Override bootstrap fonts
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  @include font-primary;
}

// btn overrides from Rudy
.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  // TODO - get font from Rudy
  &.btn-xlg {
    padding: 20px 40px;
    font-size: 20px;
  }
}

.btn.btn-main {
  background-color: $orange;
  color: white;
  &:hover {
    background-color: darken($orange, 3%);
  }
}

.btn.btn-upgrade {
  background-color: white;
  opacity: 0.5;
  color: black;
  margin-top: 18px;
  &:hover {
    opacity: 0.7;
  }
}

.social-buttons {
  margin: 16px 0;
}

.btn.btn-share {
  color: white;
  background-image: image-url('share-buttons.png');
  background-repeat: no-repeat;
  padding-left: 55px;
  padding-right: 20px;
  font-size: 16px;

  &.btn-facebook {
    background-color: $facebook-blue;
    background-position: 20px 19px;
    &:hover {
      background-color: darken($facebook-blue, 3%);
    }
    margin-right: 10px;
  }
  &.btn-twitter {
    background-color: $twitter-blue;
    background-position: 20px -80px;
    &:hover {
      background-color: darken($twitter-blue, 3%);
    }
  }
}

.modal-backdrop {
  background: #000;
  &.fade.in {
    opacity: 0.5;
  }
}
.modal {
  .modal-header {
    background-color: $light-gray;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    button {
      text-transform: uppercase;
      font-size: 16px;
      color: black;
      opacity: 0.6;
    }
  }
  color: black;
  .what-happened {
    font-size: 18px;
    text-transform: uppercase;
  }
  .call-to-action {
    font-size: 28px;
    margin: -10px 0 20px;
    font-weight: bold;
  }
}

.input-lg {
  height: 60px;
  font-size: 18px;
}

.container-under-header {
  margin-top: 96px;
}

.centered-form {
  margin: 120px auto;
  text-align: center;
  max-width: 300px;
  .form-title {
    font-size: 24px;
    font-weight: normal;
    padding-bottom: 16px;
  }
  input[type=submit] {
    margin-top: 8px;
    width: 88%;
  }
}

.league-header {
  text-align: center;
  .league-name {
    font-size: 40px;
    margin: 20px 0 4px;
  }
  .member-count {
    font-size: 20px;
    font-weight: 300;
  }
}

.forgot-password {
  margin: 10px 0;
}

.link-to-subscribe {
  margin: 10px 0;
}

.notification {
  background: $dark-gray;
  color: white;
  font-size: 16px;
  padding: 20px 28px;
  .url-input {
    width: 50%;
  }
  &.social {
    text-align: center;
  }
  .btn-main {
    margin: 16px 0 8px;
  }
}
