.header {
  background: $green;
  height: $header-height;
  position: relative;
  .logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -$logo-width / 2;
  }
  .links {
    float: right;
    .logged-in, a {
      color: white;
      text-transform: uppercase;
      line-height: $header-height;
      margin-right: 20px;
      font-size: 16px;
      letter-spacing: 2px;
      font-weight: 300;
    }
  }
}
