.leagues-show {
  max-width: $narrow-page-width;
  .btn-main {
    margin: 16px 0 8px;
  }
  .league-members {
    margin: 32px 0 60px;
    .wins-header,
    .rank-header {
      width: 88px;
    }
    @include black-table;
    thead {
      font-size: 16px;
    }
    tbody tr {
      height: 86px;
    }
    .member-name {
      font-size: 20px;
    }
    .team-names {
      color: $gray;
      line-height: 20px;
      font-size: 14px;
    }
  }
}
