@mixin background-size-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin font-primary {
  font-family: 'Source Sans Pro', sans-serif;
}
