.splash {
  .intro {
    color: white;
    text-align: center;
    height: 620px;
    background: image-url('splash/banner.jpg') no-repeat center top;
    @include background-size-cover;
    h1 {
      font-size: 44px;
      margin-top: 0;
      padding-top: 176px;
    }
    h2 {
      font-size: 28px;
      font-weight: 300;
      max-width: 480px;
      margin: 28px auto;
    }
  }
  .quote {
    background-color: black;
    color: white;
    min-height: 120px;
    padding: 40px 0;
    .quote-text {
      float: left;
      font-style: italic;
      font-size: 20px;
    }
    .quote-author {
      float: right;
      font-size: 18px;
    }
    .read-more {
      text-transform: uppercase;
      color: $orange;
    }
  }
  .how-it-works {
    background: $dark-green image-url('bg_field.png') repeat;
    color: white;
    text-align: center;
    padding: 32px 0;
    h3 {
      font-size: 40px;
      font-weight: 300;
    }
    h4 {
      padding-top: 20px;
      font-size: 24px;
    }
    p {
      font-size: 16px;
    }
    .create-league {
      margin: 36px;
    }
  }
}
