.splash {
  .intro {
    color: white;
    text-align: center;
    height: 620px;
    background: black image-url('splash/banner.jpg') no-repeat center top;
    h1 {
      margin-top: 0;
      padding-top: 176px;
    }
    h2 {
      font-size: 28px;
      font-weight: 300;
      width: 480px;
      margin: 28px auto;
    }
  }
  .quote {
    background-color: black;
    color: white;
    height: 120px;
    padding: 40px 0;
    .quote-text {
      float: left;
      font-style: italic;
      font-size: 20px;
    }
    .quote-author {
      float: right;
      font-size: 18px;
    }
    .read-more {
      text-transform: uppercase;
      color: $orange;
    }
  }
}
