.team-icon {
  background-image: image-url('nfl/teams.png');
  &.nba {
    background-image: image-url('nba/teams.png');
  }
  background-repeat: no-repeat;
  width: 40px;
  height: 32px;
  display: inline-block;
  vertical-align: bottom;
  &.arizona-cardinals { background-position: 0 0; }
  &.atlanta-falcons { background-position: 0 -36px; }
  &.baltimore-ravens { background-position: 4px -66px; }
  &.buffalo-bills { background-position: 2px -100px; }
  &.carolina-panthers { background-position: 2px -133px; }
  &.chicago-bears { background-position: 2px -167px; }
  &.cincinnati-bengals { background-position: 2px -199px; }
  &.cleveland-browns { background-position: 2px -234px; }
  &.dallas-cowboys { background-position: 2px -266px; }
  &.denver-broncos { background-position: 2px -297px; }
  &.detroit-lions { background-position: 2px -331px; }
  &.green-bay-packers { background-position: 2px -363px; }
  &.houston-texans { background-position: 2px -397px; }
  &.indianapolis-colts { background-position: 2px -430px; }
  &.jacksonville-jaguars { background-position: 2px -462px; }
  &.kansas-city-chiefs { background-position: 2px -496px; }
  &.miami-dolphins { background-position: 2px -527px; }
  &.minnesota-vikings { background-position: 2px -564px; }
  &.new-england-patriots { background-position: 2px -595px; }
  &.new-orleans-saints { background-position: 2px -631px; }
  &.new-york-giants { background-position: 2px -660px; }
  &.new-york-jets { background-position: 2px -694px; }
  &.oakland-raiders { background-position: 2px -728px; }
  &.philadelphia-eagles { background-position: 2px -760px; }
  &.pittsburgh-steelers { background-position: 2px -794px; }
  &.san-diego-chargers { background-position: 2px -827px; }
  &.san-francisco-49ers { background-position: 2px -859px; }
  &.seattle-seahawks { background-position: 2px -892px; }
  &.st-louis-rams { background-position: 2px -926px; }
  &.tampa-bay-buccaneers { background-position: 2px -959px; }
  &.tennessee-titans { background-position: 2px -992px; }
  &.washington-redskins { background-position: 2px -1024px; }

  &.atlanta-hawks { background-position: 0 4px; }
  &.boston-celtics { background-position: 0 -33px; }
  &.brooklyn-nets { background-position: 0 -1121px; }
  &.charlotte-bobcats { background-position: 0 -66px; }
  &.chicago-bulls { background-position: 0 -103px; }
  &.cleveland-cavaliers { background-position: 0 -133px; }
  &.dallas-mavericks { background-position: 0 -166px; }
  &.denver-nuggets { background-position: 0 -200px; }
  &.detroit-pistons { background-position: 0 -239px; }
  &.golden-state-warriors { background-position: 0 -269px; }
  &.houston-rockets { background-position: 0 -303px; }
  &.indiana-pacers { background-position: 0 -339px; }
  &.los-angeles-clippers { background-position: 0 -373px; }
  &.los-angeles-lakers { background-position: 0 -403px; }
  &.memphis-grizzlies { background-position: 0 -440px; }
  &.miami-heat { background-position: 0 -470px; }
  &.milwaukee-bucks { background-position: 0 -505px; }
  &.minnesota-timberwolves { background-position: 0 -537px; }
  &.new-orleans-pelicans { background-position: 0 -610px; }
  &.new-york-knicks { background-position: 0 -640px; }
  &.oklahoma-city-thunder { background-position: 0 -675px; }
  &.orlando-magic { background-position: 0 -710px; }
  &.philadelphia-76ers { background-position: 0 -744px; }
  &.phoenix-suns { background-position: 0 -775px; }
  &.portland-trail-blazers { background-position: 0 -808px; }
  &.sacramento-kings { background-position: 0 -843px; }
  &.san-antonio-spurs { background-position: 0 -879px; }
  &.toronto-raptors { background-position: 0 -950px; }
  &.utah-jazz { background-position: 0 -982px; }
  &.washington-wizards { background-position: 0 -1014px; }
}
