$light-gray: #ddd;
$gray: #bbb;
$dark-gray: #444;
$green: #28b767;
$dark-green: #296742;
$orange: #cb6330;

$narrow-page-width: 780px;
$flash-message-width: 340px;
$header-height: 72px;
$logo-width: 104px;
$draft-table-line-height: 32px;
