Thanks for playing, everybody! Your draft results are below.


To check your league’s standings throughout the season, visit:
= league_url(@league, source: 'draft_complete_email', medium: 'email')


Now comes the fun part. Enjoy the season!


DRAFT RESULTS
= render partial: "draft_pick", :collection => @draft.picks
