Thanks for playing, everybody! Your draft results are below. To check your league’s standings throughout the season, click here:
= league_url(@league, h: @league.hmac)

Now comes the fun part. Enjoy the season!

DRAFT RESULTS
= render partial: "draft_pick", :collection => @draft.picks
